.btn{
    margin-top: 20px;
    background-color: #5035FF;
    width: 92.84px;
    height: 40px;    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.btn:hover,
.btn:focus {
  background-color: #a597ff;
}